@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Roboto - заголовок */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Raleway */
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
/* Nunito Sans */
/* font-family: 'Nunito Sans', sans-serif; */

body{
    background-color: rgb(0, 55, 0);
    margin: 0;
    padding: 0;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 55, 0, 0);
}
a{
    color: rgb(149, 149, 255);
}
header{
    background-color: black;
    border-bottom: solid 3px white;
    animation-duration: 3s;
    animation-name: hello;
}
main{
    display: block;
}
footer{
}
.cont{
    display: flex;
    justify-content: center;
}
.hdr__info{
    display: flex;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    animation-name: hl2;
    animation-duration: 3s;
}


.logo{
    width: 6%;
    border-radius: 100%;
    margin: 1%;
    animation-name: hl3;
    animation-duration: 3s;
}
.logo_code{
    width: 30%;
    border-radius: 100%;
    margin-top: 3%;
}
.logo_code:hover{
    transform: scale(125%);
    transition: 0.5s;
}




.face{
    width: 15%;
    /* height: 400px; */
    border-radius: 15%;
    margin: 2%;
    border: solid black 3px;
}


h1{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: rgba(49, 178, 235, 1);
}
h3{
    color: rgba(255, 75, 89, 1);
    margin-bottom: 2%;
}
.text{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block__all{
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
}
.block__white{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.block__black{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.h2__all{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 150%;
}
.p__all{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 140%;
}
.div__white{
    background-color: white;
}
.div__black{
    background-color: rgb(0, 0, 0);
}
.div_2{
    display: flex;
}
.div2__2{
    flex-direction: column;
    margin: 2%;
}
.div2__3{
    display: flex;
    justify-content: space-around;
}
.case{
    width: 30%;
    filter: brightness(40%);
    transition: 0.5s;
}
.case__img{
    width: 80%;
}
.case:hover{
    filter: brightness(100%);
    transition: 1s;
}

.case__p{
    filter: brightness(0%);
    transition: 0.5s;
}
.case:hover{
    .case__p{
        filter: brightness(100%);
        transition: 1s;
    }
}











@keyframes hello{
    0%{
        height: 100vh;
    }
    99%{
        height: 7vh;
    }
}
@keyframes hl2{
    0%{
        flex-direction: column;
        max-width: 1024px;
        align-items: center;
        justify-content: center;
        font-size: 250%;
    }
    100%{
        display: flex;
        max-width: 1024px;
        align-items: center;
        justify-content: center;
    }
}
@keyframes hl3{
    0%{
        width: 60%;
        border-radius: 100%;
        margin: 10%;
        margin-top: 20%;
    }
    100%{
        width: 5%;
        border-radius: 100%;
        margin: 1%;
    }
}
@media (max-width: 768px){
    .text{
        width: 80%;
    }
    .face{
        width: 25%;
    }
    .logo_code{
        width: 20%;
    }
    .logo{
        width: 10%;
    }
    .div_2{
        display: block;
    }
    p{
        font-size: 120%;
    }
    h1{
        font-size: 400%;
    }
    h2{
        font-size: 180%;
    }
    h3{
        font-size: 130%;
    }
}