@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Roboto - заголовок */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Raleway */
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
/* Nunito Sans */
/* font-family: 'Nunito Sans', sans-serif; */

body{
    background-color: rgb(0, 55, 0);
    margin: 0;
    padding: 0;
}
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 55, 0, 0);
}
header{
background-color: black;
border-bottom: solid 3px white;
}
main{
}
footer{
}
.cont{
    display: flex;
}
.hdr__info{
    display: flex;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 5%;
    border-radius: 100%;
    margin: 1%;
}
.face{
    width: 300px;
    height: 400px;
    border-radius: 15%;
    margin: 5%;
    border: solid black 3px;
}

h1{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: rgba(49, 178, 235, 1);
}
h3{
    color: rgba(255, 75, 89, 1);
}

.text{
    margin-top: 5%;
}
.block__all{
    display: flex;
    justify-content: space-evenly;
}
.block__1{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}


.h2__1{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center;
    font-size: 150%;
    margin-bottom: 2%;
}
.p__1{
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    text-align: center;
    font-size: 120%;
}